<!-- Main Content -->
<!-- Page Loader -->
<div class="page-loader-wrapper" *ngIf="false">
  <div class="loader">
    <div class="m-t-30">
      <img class="zmdi-hc-spin" src="assets/images/logo.png" width="48" height="48" alt="Ischedulenow" />
    </div>
    <p>Please wait...</p>
  </div>
</div>
<toaster-container [toasterconfig]="config"></toaster-container>
<!-- Overlay For Sidebars -->
<div class="overlay" *ngIf="false"></div>
<app-top-bar></app-top-bar>
<app-side-bar></app-side-bar>
<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>
          Add Staff
          <small class="text-muted">Welcome to Ischedulenow</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
          <i class="zmdi zmdi-plus"></i>
        </button>
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a href="index.html">
              <i class="zmdi zmdi-home"></i> Ischedulenow</a>
          </li>
          <li class="breadcrumb-item">
            <a href="javascript:void(0);">Doctors</a>
          </li>
          <li class="breadcrumb-item active">Add Staff</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Basic</strong> Information
              <small>Add Basic Information of Staff here...</small>
            </h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" [(ngModel)]="firstName" name="firstName" class="form-control" placeholder="First Name" />
                </div>
                <div class="error" *ngIf="
                 errorFirstName
                ">
                  *Required
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" [(ngModel)]="lastName" name="lastName" class="form-control" placeholder="Last Name" />
                </div>
                <div class="error" *ngIf="
                 errorLastName
                ">
                  *Required
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" [(ngModel)]="mobileNumber" maxlength="10" pattern="\d*" name="mobileNumber" class="form-control" placeholder="Contact Number"
                  />
                </div>

                <div class="error" *ngIf="errorMobile">
                  *required
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Create Login </strong> of staff
              <small>Create user name and Password here...</small>
            </h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-sm-12">
                <div class="form-group">
                  <input pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    type="text" [(ngModel)]="userName" name="userName" class="form-control" placeholder="Email" />
                </div>

                <div class="error" *ngIf="
                  errorEmail 
                " for="email">
                  *Required and in correct format
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password"
                  />
                </div>
                <div class="error" *ngIf="
               password.value !=
                  confirmPassword.value &&
               errorPassword
              ">
                  <small>**must match with password</small>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Multi Select -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Add</strong> Staff role
              <small>Create staff role here...</small>
            </h2>
          </div>
          <div class="body">
            <select id="optgroup" [(ngModel)]="role" class="ms" multiple="multiple">
              <optgroup label="Reception">
                <option value="Reception">Reception</option>
              </optgroup>
              <optgroup label="staff">
                <option value="Doctor">Doctor</option>
                <option value="Nurse">Nurse</option>
              </optgroup>
            </select>
            <div class="error" *ngIf="
           errorRole
           ">
              <small>please select a role</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <button type="submit" (click)="submit()" class="btn btn-primary btn-round">
          Submit
        </button>
        <button type="submit" class="btn btn-default btn-round btn-simple">
          Cancel
        </button>
      </div>
    </div>
    <!-- #END# Multi Select -->
  </div>
</section>